/* Main loading wrapper */
.loading {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0;
    top: 0;
    overflow: hidden;
}

/* Centered loading container */
.loadingCenter {
    width: 100%;
    height: 100%;
    position: relative;
}

.loadingLogoText {
    padding-bottom: 10px;
}

/* Centered content inside the loading container */
.loadingCenterAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
}

/* Progress bar for loading stroke */
.loadingStroke {
    position: relative;
    width: 100%;
    background: #f26f21;
    height: 3px;
    overflow: hidden;  /* Ensure the progress bar doesn't overflow its container */
}

/* Progress bar animation (filling the bar) */
.loadingStroke::before {
    position: absolute;
    content: "";
    left: 50%;  /* Start from the center */
    top: 0;
    width: 0%;  /* Start with no width */
    height: 3px;
    background-color: #fff;
    transform: translateX(-50%);  /* Keep it centered horizontally */
    animation: kidba-loading 5s linear infinite;
    animation-timing-function: cubic-bezier(0.75, 0.04, 0, 0.86);
}

/* Keyframes for loading progress */
@keyframes kidba-loading {
    0% {
        width: 0%;  /* Start from 0% width */
    }
    50% {
        width: 100%;  /* Expand to 100% width from center */
    }
    100% {
        width: 0%;  /* Shrink back to 0% width */
    }
}
